*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    background-color: #fff;
    z-index: 99;
}
.header .nav{
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}
.header .nav .logo{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
}
.header .nav .logo img{
    width: 100%;
    height: 100%;
}
.header .nav .nav_list{
    float: right;
}
.header .nav .nav_list .nav_item{
    float: left;
    margin: 0 20px;
}
.header .nav .nav_list .nav_item a{
    color: #777;
    line-height: 80px;

}
.header .nav .nav_list .nav_item a:hover{
    color: #333;
}
.header .nav .btnwrap{
    display: none;
    float: right;
}
.header .nav .btnwrap .nav_btn{
    position: absolute;
    display: block;
    right: 0px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-image: url('./img/6.png');
    background-size: 100% 100%;
    cursor: pointer;
}
.header .nav .btnwrap .btn_list{
    display: none;
    width: 200px;
    margin-top: 60px;
    background-color: #eee;;
}
.header .nav .btnwrap .btn_list li{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #333;
    text-align: center;
}
.header .nav .btnwrap .btn_list li a{
    color: #777;
    width: 100%;
    height: 100%;
    line-height: 40px;
    
}

.slider{
    position: relative;
    width: 100%;
    height: 800px;
}
.slider .swiper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 700px;
}
.slider .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.slider .text p{
    color: #fff;
    font-size: 30px;
    opacity: 0.1;
    transition: all 1s;
}
.slider:hover  .text p{
    opacity: 1;
}
.slider .tran{
    position: absolute;
    width: 70%;
    background-color: #fff;
    margin-top: -50px;
    margin-left: 20%;
}
.slider .tran ul{
    width: 100%;
    display: flex;
}
.slider .tran ul li{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000;
}
.content .con_list{
    width: 100%;
    text-align: center;
}
.content .con_list .con_item{
    /* float: left; */
    display: inline-block;
    width: 30%;
    margin:10px;
}
.content .con_list .con_item img{
    width: 100%;
}
.footer{
    position: relative;
    width: 100%;
    height: 500px;
    background: url('./img/bottom.jpg');
    background-size: 100% 100%;
    /* text-align: center; */
}
.footer .shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3)

}
.footer p{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    transform: translate(-50%,-50%);
    color: #fff;

}
/* 响应式 */
@media screen and (max-width:900px){
    .header{
        height: 60px;
    }
    .header .nav .nav_list .nav_item a{
        line-height: 60px;
    }
    .slider{
        height: 700px;
    }
    .slider .swiper{
        height: 600px;
    }
    .content .con_list .con_item{
        width: 40%;
        margin:15px;
    }
}
@media screen and (max-width:700px){
    /* .header{
        height: 60px;
    } */
    .header .nav .nav_list{
        display: none;
    }
    .header .nav .btnwrap{
        display: block;
    }
    .slider{
        height: 650px;
    }
    .slider .swiper{
        height: 550px;
    }
    .slider .text p{
        font-size: 26px;
    }
    .slider .tran{
        display: none;
    }
    .content .con_list .con_item{
        width: 70%;
        margin:15px;
    }
}
@media screen and (max-width:400px){
    .slider{
        height: 450px;
    }
    .slider .swiper{
        height: 350px;
    }
    .slider .text p{
        font-size: 18px;
    }
    .content .con_list .con_item{
        width: 90%;
        margin:15px;
    }
}

